<div class="row">
  <div class="col-md-4 col-md-offset-4 center-text">
    <%= image_tag('github.png') %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center-text">
    <% if current_user %>
      <p class="welcome">Welcome <%= current_user.name %></p>
      <%= link_to "Let's search some code!", pages_search_path, class:"btn btn-primary btn-lg" %>
      <%= link_to "Sign out with Github", "/signout", class:"btn btn-default btn-lg" %>
    <% else %>
      <%= link_to "Sign in with Github", "/auth/github", class:"btn btn-default btn-lg" %>
      <p class="light-grey padding-top-20">This app requires you to sign in for expanded usage of Github's Search API 
    <% end %>
  </div>
</div>
