<div class="row">
  <div class="col-md-4 col-md-offset-4 center-text">
    <% if current_user %>
      <%= image_tag('github.png', size:120) %>
      <p class="welcome">Welcome <%= current_user.name %></p>
      <div class="padding-top-20">
        <%= link_to "Let's search some code!", pages_search_path, class:"btn btn-primary btn-lg" %>
        <%= link_to "Sign out with Github", "/signout", class:"btn btn-default btn-lg" %>
      </div>      
    <% else %>
      <%= image_tag('github.png', size:120) %>
      <%= link_to "Sign in with Github", "/auth/github", class:"btn btn-default btn-lg" %>
      <p class="light-grey padding-top-20">This app requires you to sign in for expanded usage of Github's Search API 
    <% end %>

  </div>
</div>
