<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag("pie.gif", class:"navbar-brand") %> <span class="navbar-brand">Github Rela-tor</span>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign out", "/signout" %></li>
    </ul>
  </div>
</nav>
<div class="row padding-top-30" id="search">
  <form data-remote="true">
    <div class="row">
      <fieldset class="form-group col-md-2 col-md-offset-4">
        <label for="formGroupExampleInput">Search Github Username</label>
        <input type="text" class="form-control" id="search-user" placeholder="e.g. vitalbone">
      </fieldset>
      <fieldset class="form-group col-md-2">
        <label for="formGroupExampleInput">Search Code</label>
        <input type="text" class="form-control" id="search-code" placeholder="e.g. debugger">
      </fieldset>
      <div class="col-md-2 padding-top-20">
        <input class="btn btn-default btn-lg" id="search-button" type="submit" value="Submit">
      </div>
        
      
    </div>
    
  </form>
</div>

<div class="row padding-top-30" id="results">
  <div id="your-code" class="col-md-2 col-md-offset-3 center-text top-border">
    <h3>Your Code</h3>
    <p class="light-grey">Number of times this code appears in <i><strong>your code</strong></i></p>
    <p id="odometer" class="odometer padding-top-10">0</p>
  </div>
  <div id="your-repo" class="col-md-4 left-border center-text top-border">
    <h3>Your Repos</h3>
    <p class="light-grey">Number of times this code appears in <i><strong>your repos</strong></i></p>
    <%= image_tag('pie.gif', id:"loading-pie-repos") %>
    <canvas class="padding-top-10" id="repoDoughnutChart" width="400" height="400"></canvas>
  </div>
  <div id="your-followers" class="col-md-6 col-md-offset-3 center-text top-border padding-top-10">
    <h3>Your Followers</h3>
    <p class="light-grey">Number of times this code appears in <i><strong>your followers</strong></i></p>
    <%= image_tag('pie.gif', id:"loading-pie-followers") %>
    <canvas class="padding-top-10" id="followerBarChart" width="400" height="400"></canvas>
  </div>

</div>

<div id="timer-box" class="center-text row">
  <div class="col-md-2 col-md-offset-5">
    <p class="light-grey">Your results will be ready in...</p>
    <div id="timer">1:00</div>
    <p class="light-grey">You have reached your <strong>Github Search API limit :(</strong></p>

    <%= image_tag('dancing-man.gif', id:"dancing-man", class:"margin-top-20", size:"120") %>
  </div>
</div>